:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #101014;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.text-center {
  text-align: center;
}

.mt-6 {
  margin-top: 24px;
}

.ml-4 {
  margin-left: 16px;
}

.mt-8 {
  margin-top: 32px;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-dark {
  background-color: #101014;
}